.popup__input-error {
    min-height: 30px;
    margin: 5px 0 0 0;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}

@media screen and (max-width: 700px) {
    .popup__input-error {
        min-height: 45px;
    }
}