.gallery__card-delete {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    width: 18px;
    height: 19px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity, 0.3s;
    cursor: pointer;
}

.gallery__card-delete:hover {
    opacity: 0.5;
}